/*==================================================
 * 브랜드 공통 스타일
 ===================================================*/
#contents .container .first-section {margin-top:0px; }

/* 타이틀 */
.container > hgroup {margin:0 auto; padding:47px 0 0 0; display:block; width:936px; height:81px; line-height:30px; }
.container > hgroup > h1 {font-size:30px; color:#231f20;}
.container > hgroup > p {font-size:14px; color:#777; font-weight:400; }

/* 카테고리 종류 */
aside.category-sub {margin-top:32px; margin-bottom:36px; padding-top:5px; padding-left:9px; background-color:#f3f3f4; }
aside.category-sub a {position:relative; margin:0 11px; padding:0 10px;	display:inline-block; height:33px; font-size:12px; color:#767676; font-weight:400; line-height:33px; }
aside.category-sub a:hover,
aside.category-sub a.on {position:relative; color:#000;}
aside.category-sub a:hover:after,
aside.category-sub a.on:after {content:''; position:absolute; bottom:0; left:0px; right:0px; display:block; height:3px; background-color:#2b282a; }

/* 브랜드 목록 */
ul.list-brands {overflow:hidden; margin:0px -5px;}
ul.list-brands li {float:left; margin:0 5px; padding:30px 0 14px; width:226px; border-bottom:1px solid #d3d0cf;}
figure.brand{position:relative; cursor:pointer;}
figure.brand .frame {height:93px; width:226px; text-align:center; background-color:#f5f5f5; }
figure.brand .over_cover{position:absolute; top:0; left:0; display:none;}
figure.brand figcaption {padding:17px 10px 0 6px; font-size:13px; line-height:18px; color:#231f20;}

figure.brand p.name{font-family:'RixSGo B', sans-serif; font-size:14px;}
figure.brand p.name_en {font-size:14px;}

figure.brand p.toggle_like {margin-top:7px;}
figure.brand p.toggle_like > a.btn-wish {float:left; display:inline-block; height:18px; width:18px; text-align:left; text-indent:-9999px; background:url(../images/brand/btn_like_01.png) left top no-repeat; }
figure.brand p.toggle_like > a.btn-wish.on {background-position:-18px 0; }

/* 상품 목록 */
ul.list-products {overflow:hidden; margin:0px -5px; padding-bottom:30px;}
ul.list-products li {float:left; padding:30px 5px 21px 5px; width:226px; }

figure.product .frame {height:191px; width:226px; text-align:center; background-color:#f5f5f5; }
figure.product figcaption {padding:0 10px 0 6px; font-size:13px; line-height:18px; }

figure.product p.icons {margin-top:13px; margin-bottom:5px; height:20px; }
figure.product p.icons span {position:relative; padding:0 4px; display:inline-block; font-size:10px; color:#fff; font-weight:400; line-height:12px; letter-spacing:-0.1em; background-color:#202020; }
figure.product p.icons span:after {content:''; position:absolute; bottom:-4px; left:12px; display:block; height:4px; width:6px; background:url(../images/shop/bg_arrow04.png) left top no-repeat; }

figure.product em.brand {color:#202020;font-family:'RixSGo B', sans-serif; font-weight:normal; font-style:normal; }
figure.product p.title {height:45px; color:#777; }

figure.product p.price {padding-right:7px; font-family:'Alegreya', serif; font-style:italic; text-align:right; }
figure.product p.price > a.btn-wish {float:left; margin-top:2px; display:inline-block; height:18px; width:18px; text-align:left; text-indent:-9999px; background:url(../images/shop/btn_wish01.png) left top no-repeat; }
figure.product p.price > a.btn-wish.on {background-position:-18px 0; }
figure.product p.price > .dc-price {font-family:'Alegreya', serif; font-style:italic; font-weight:bold; font-size:20px; color:#2b282a; line-height:18px; }
figure.product p.price > .price {margin-left:8px; font-size:20px; color:#b9b9b9; line-height:18px; }

/* 상품 정렬 */
div.sorting {padding:6px 12px 0 0; height:28px; text-align:right; border-bottom:1px solid #242424; }
div.sorting a {margin:0 6px; display:inline-block; height:25px; cursor:pointer; font-size:11px; color:#777; font-weight:400; line-height:25px; }
div.sorting a:hover,
div.sorting a.on {position:relative; color:#000;}

div.sorting a:hover:after,
div.sorting a.on:after {content:''; z-index:10; position:absolute; right:-3px; bottom:-4px; left:-3px; display:block; height:3px; background-color:#2b282a; }
div.sorting .cnt {position:relative; padding:0 0 0 20px; font-size:12px; color:#777; font-weight:400; line-height:26px; }
div.sorting .cnt > em {font-size:12px; color:#231f20;font-family:'RixSGo B', sans-serif;  font-weight:normal; font-style:normal; }
div.sorting .cnt:after {content:'|'; position:absolute; top:-6px; left:5px; display:block; font-size:9px; color:#c0c0c0; }

/*==================================================
 * 브랜드 메인
 ===================================================*/
.brand-banner .container-banner {float:left;}
.brand-banner .second_banner {float:right;}

.container-banner {overflow:hidden; position:relative; height:342px; width:694px; background-color:#000; }
.container-banner ul.list-banner {position:absolute; top:0; left:0; }
.container-banner ul.list-banner li {float:left; height:342px; width:694px; }

.container-banner.long {width:936px;}
.container-banner.long ul.list-banner li {width:936px;}

.container-banner .positions {position:absolute; bottom:16px; left:0; display:block; width:100%; height:3px; text-align:center; }
.container-banner .positions > a {float:none; margin-left:10px; display:inline-block; height:3px; width:21px; text-indent:-9999px; background:url(../images/shop/bg_position01.png) -21px 0px no-repeat; overflow:hidden;}
.container-banner .positions > a:first-child{margin-left:0;}
.container-banner .positions > a.current {background-position:0px 0px; }

.container-banner a.btn-prev {position:absolute; top:50%; left:0; margin-top:-24px; display:block; height:48px; width:48px; text-indent:-9999px; background:url(../images/shop/btn_nav01.png) left 0px no-repeat; overflow:hidden;}
.container-banner a.btn-next {position:absolute; top:50%; right:0; margin-top:-24px; display:block; height:48px; width:48px; text-indent:-9999px; background:url(../images/shop/btn_nav01.png) right 0px no-repeat; overflow:hidden;}

.brand-sub-title {padding-bottom:6px; font-size:14px; color:#231f20; border-bottom:1px solid #231f20; }

.sorting_brand {padding-right:12px; height:35px; border-bottom:1px solid #242424; }
.sorting_brand select {width:180px; height:28px; border:1px solid #d3d0cf; color:#231f20; font-weight:400;}
.sorting_brand .cnt {float:right; margin-top:15px; font-size:12px; color:#777; font-weight:400;}
.sorting_brand .cnt > em {font-size:12px; color:#231f20; font-family:'RixSGo B', sans-serif;  font-weight:normal; font-style:normal; }

/*==================================================
 * 브랜드 스토리
 ===================================================*/
.brand_story .detail {margin-top:50px;}
#contents.brand_story .container .choice{width:936px; height:101px; background:url(../images/brand/bg_choice.gif) no-repeat; position:relative; margin-top:0px;}
.brand_story .choice .choice_description,
.brand_story .choice .choice_icon{height:59px; float:left;}
.brand_story .choice .choice_description{width:376px; padding:21px 46px; font-size:12px;}
.brand_story .choice .choice_description>dt{font-size:20px; margin-bottom:8px; color:#231f20}
.brand_story .choice .choice_description>dt>span{font-size:12px; margin-left:12px;}
.brand_story .choice .choice_description>dd{line-height:1.4;}
.brand_story .choice .choice_icon{width:300px; height:46px; position:relative; top:31px; left:84px;}
.brand_story .choice .choice_icon>div{width:47px; height:46px; position:absolute; float:left; line-height:46px; overflow:hidden; cursor:pointer; margin-right:15px;}
.brand_story .choice .choice_icon>div:last-child{margin-right:0;}
.brand_story .choice .choice_icon>div:after{content:""; display:block; width:47px; height:46px; background:url(../images/brand/choice_icon.png) no-repeat; position:absolute; top:0; left:0;}
.brand_story .choice .choice_icon>div>p{position:absolute; width:auto; white-space:nowrap; left:74px;}

.brand_story .choice .choice_icon .resource{left:0}
.brand_story .choice .choice_icon .tradition{left:62px;}
.brand_story .choice .choice_icon .natural{left:124px;}
.brand_story .choice .choice_icon .award{left:186px;}
.brand_story .choice .choice_icon .sale{left:248px;}

.brand_story .choice .choice_icon .resource:after{background-position:0px 0;}
.brand_story .choice .choice_icon .tradition:after{background-position:-62px 0;}
.brand_story .choice .choice_icon .natural:after{background-position:-125px 0;}
.brand_story .choice .choice_icon .award:after{background-position:-188px 0;}
.brand_story .choice .choice_icon .sale:after{background-position:-250px 0;}

.brand_story .tab a {float:left; display:block; width:50%; height:46px; text-indent:-9999px; background:url(../images/brand/tab.gif) no-repeat; overflow:hidden;}
.brand_story .tab a.tab_product {background-position:0 0}
.brand_story .tab a.tab_product.on {background-position:0 -57px}
.brand_story .tab a.tab_story {background-position:-468px -57px}
.brand_story .tab a.tab_story.on {background-position:-468px 0}

.brand_story #section_product, .brand_story #section_story {display:none;}
.brand_story #section_product.on, .brand_story #section_story.on {display:block;}


/*==================================================
 * 스팟라이트
 ===================================================*/ 
.spotlight #list_container{border-top:1px solid #231F20; padding-top:30px;}
.spotlight #list_container .item{border:1px solid #eee; padding:3px; width:218px; margin-bottom:15px;}
.spotlight #list_container .item hgroup{margin:10px 0; padding:0 8px;}
.spotlight #list_container .item hgroup h2{font-size:24px; color:#231f20; font-family:'RixSGo B', sans-serif;  font-weight:normal;}
.spotlight #list_container .item hgroup p{color:#231f20; font-weight:500; margin-top:5px; font-size:14px;}
.spotlight #list_container .item>p{padding:0 8px; line-height:1.6;}
.spotlight #list_container .item>a{display:block; width:33px; float:right; margin-right:7px; text-align:center; border-bottom:1px solid #aba8a7; padding-bottom:3px; font-size:11px; margin-bottom:7px;}
.spotlight .see_more{margin:50px auto 0; width:936px;} 

/*==================================================
 * 개별 스팟라이트
 ===================================================*/
.spotlight_detail .main_content {padding-bottom:50px; border-bottom:1px solid #231f20;}
.spotlight_detail .main_content img {display:block;}

.brand_story .detail { position: relative; margin-top: 87px; color: #231f20; }
.detail h1 { position: relative; margin-bottom: 35px; padding: 0 0 36px 0; width: 100%; font-size: 32px; text-align: center; font-weight: 400; line-height: 40px; }
.detail h1 > .en { font-size: 44px; letter-spacing: -0.1em; }
.detail h1:after { content: ''; position: absolute; bottom: 0; left: 50%; margin-left: -17px; display: block; height: 3px; width: 35px; background-color: #000; }
.detail .desc { display: block; font-size: 16px; font-weight: 400; text-align: center; line-height: 25px; }
.detail .photo { margin-top: 50px; }

.detail.over {
	color: #fff;
}
.detail.over .frame-vertical {
	position: absolute; top: 50%; right: 0; left: 0; height: 30%; margin-top: -15%;
}

.detail.over h1 { color: #fff; }
.detail.over h1:after { background-color: #fff; }


/*==================================================
 * 오모로비짜 단독페이지
 ===================================================*/
#contents .container > section.omorovicza {position:relative; margin:0; width:100%;}
.omorovicza > div {position:relative; z-index:2;}
.omorovicza > div .bg {width:100%; min-width:980px; overflow:hidden; text-align:center; z-index:10;}
.omorovicza > div .bg img {position:relative; left:50%; display:block; width:100%; min-width:1600px;}

.omorovicza .text > img {position:absolute; top:50%; left:50%;}

.omorovicza #chapter_02 .t_01 {top:100px; margin-left:-333px;}
.omorovicza #chapter_02 .effect {position:absolute; top:-385px; left:0; height:100%; width:100%; overflow:hidden;}
.omorovicza #chapter_02 .effect > img {position:absolute;}
.omorovicza #chapter_02 .c_01 {/* top:-385px; */top:0; right:0;}
.omorovicza #chapter_02 .c_02 {/* top:224px; */top:609px; left:0;}
.omorovicza #chapter_03 {position:relative;}
.omorovicza #chapter_04 {z-index:1;}
.omorovicza #chapter_04 .t_01 {top:100px; margin-left:-344px; z-index:2;}
.omorovicza #chapter_04 .w_01 {position:absolute; top:50px; left:50%; margin-left:-27px; z-index:2;}
/* .omorovicza #chapter_04 .w_02 {position:absolute; bottom:-50px; left:0; width:100%;} */

.omorovicza #chapter_04 .w_02 {position:absolute; bottom:0; left:0; width:100%; z-index:1;}
.omorovicza #chapter_04 .w_02.fixed {position:fixed; top:auto; /* bottom:-400px; */bottom:0; left:0; width:100%;}
.omorovicza #chapter_04 .w_02.end {top:auto; bottom:0;}
.omorovicza #chapter_05 .text {position:absolute; top:0; left:0; width:100%; font-size:0; text-align:center;}
.omorovicza #chapter_05 .text > div {display:inline-block; width:30.625%; min-width:490px;}
.omorovicza #chapter_05 .text > div a {display:block; position:relative; cursor:default;}
.omorovicza #chapter_05 .text > div a img {width:100%;}
.omorovicza #chapter_05 .text > div a .over {position:absolute; top:0; left:0; opacity:0; transition:opacity .5s ease;}
.omorovicza #chapter_05 .text > div a:hover .over {opacity:1;}

.omorovicza .btn_link a {display:block; margin:0 auto; width:198px;}

#nav {position:fixed; top:50%; right:30px; margin-top:-85px; z-index:99;}
#nav li {margin-bottom:14px; height:15px;}
#nav li a {position:relative; display:block; width:100px; font-size:12px; color:#bccee7;}
#nav li a:after {content:''; position:absolute; top:-1px; right:0; display:block; width:15px; height:15px; background:url(../images/brand/omo_nav.png) no-repeat 0 3px;}
#nav li a.on:after {background-position:0 -31px;}
#nav li a span{display:block; position:absolute; top:0; right:20px; width:0; white-space:nowrap; overflow:hidden; text-align:right; opacity:0; transition:all .7s cubic-bezier(0.11,0.66,0.46,1);}
#nav li a.on span{width:80px; opacity:1;}
