/*==================================================
 * EVENT 공통 스타일
 ===================================================*/

#contents .container section.first-section { margin-top: 0px; }
#contents .container section.comments, #contents .container section.result { margin-top: 10px; }

/* EVENT 타이틀 */
.container > hgroup { margin: 0 auto; padding: 75px 0 0 0; display: block; width: 936px; line-height: 30px; }
.container > hgroup > h1 { font-size: 30px; color: #231f20;}
.container > hgroup > p { font-size: 14px; color: #777; font-weight: 400; }

/* EVENT 서브 타이틀 */
h1.sub-title { padding: 50px 0 6px 0; font-size: 15px; color: #231f20; font-weight: 400; }
h1.sub-title > em { margin-left: 8px; font-size: 13px; color: #000; font-style: normal; }



/* 대표 이벤트 & Tester's Box & POP! Choice */
ul.list-special-event { overflow: hidden; margin: 30px -5px 0 -5px; }
ul.list-special-event li { float: left; margin: 0 5px 10px 5px; width: 303px; border: 1px solid #d3d0cf; }

.list-special-event figure.item { }
.list-special-event figure.item.soldout > a { position: relative; display: block; }
.list-special-event figure.item.soldout > a:after { content: 'Sold Out'; position: absolute; top: 0; right: 0; left: 0; padding-top: 89px; display: block; height: 109px; font-family: 'Alegreya', serif; font-size: 25px; color: #fff; font-weight: bold; text-align: center; background: url(../images/event/bg_soldout.png) left top repeat; }

.list-special-event figure.item > figcaption { padding: 30px 15px 20px 16px; border-top: 1px solid #d3d0cf; }
.list-special-event figure.item hgroup span { position: relative; margin-bottom: 5px; padding: 0 3px; display: inline-block; font-size: 10px; color: #fff; font-weight: 400; line-height: 12px; letter-spacing: -0.1em; background-color: #231f20; }
.list-special-event figure.item hgroup span:after { content: ''; position: absolute; bottom: -4px; left: 12px; display: block; height: 4px; width: 6px; background: url(../images/shop/bg_arrow04.png) left top no-repeat; }
.list-special-event figure.item h1 { font-size: 12px; color: #231f20; font-weight: 400; line-height: 17px; }
.list-special-event figure.item p.desc { }
.list-special-event figure.item p.desc > a { font-size: 14px; color: #231f20; font-weight: 400; line-height: 20px; }
.list-special-event figure.item p.price { margin-top: 6px; font-family: 'Alegreya', serif; font-style: italic; text-align: right; }
.list-special-event figure.item p.price > .dc-price {font-family:'Alegreya', serif; font-style:italic; font-weight:bold; font-size: 18px; color: #231f20; font-weight: 400; line-height: 18px; }
.list-special-event figure.item p.price > .price { margin-left: 8px; font-size: 18px; color: #b9b9b9; font-weight: 400; line-height: 18px; }
.list-special-event figure.item p.price > .soldout { font-size: 18px; color: #ed6851; font-weight: 400; }

.list-special-event figure.item p.info { overflow: hidden; margin-top: 18px; }
.list-special-event figure.item p.info > a.btn-wish { float: left; margin-top: 2px; display: inline-block; height: 18px; width: 18px; text-align: left; text-indent: -9999px; background: url(../images/shop/btn_wish01.png) left top no-repeat; }
.list-special-event figure.item p.info > a.btn-wish.on { background-position: -18px 0; }
.list-special-event figure.item p.info > span.remain { float: right; font-size: 14px; color: #231f20; font-weight: 400; line-height: 18px; }
.list-special-event figure.item p.info > span.remain > em {font-family:'RixSGo B', sans-serif;  font-weight:normal; font-style: normal; }

.other figure.item > figcaption { padding: 15px 15px 15px 16px; }
.other figure.item p.price { text-align: left; }


/* 이벤트 목록 */
.event .container .paging { margin-top: 60px; }

.list-event { overflow: hidden; position: relative; margin: 0 -5px; width: 946px; }
.list-event:after { content: ''; position: absolute; top: 0; right: 5px; left: 5px; display: block; height: 1px; background-color: #231f20; }
.list-event li { float: left; margin: 0 5px; padding: 30px 0 0 0; display: block; width: 226px; border-bottom: 1px solid #d3d0cf; }

.list-event figure.item { }
.list-event figure.item > figcaption { padding: 20px 5px 18px 5px; height:52px;}
.list-event figure.item .duration { font-size: 12px; color: #231f20; font-weight: 400; }
.list-event figure.item h1 { margin-top: 4px; font-size: 14px; color: #231f20; font-weight: 400; line-height:1.4;}


/* 이벤트 상세 댓글 작성 */
fieldset.form-comments { position: relative; padding:20px 15px; border-top: 2px solid #231f20; border-bottom: 1px solid #d3d0cf;}
fieldset.form-comments img {float:left; width:60px;}
fieldset.form-comments textarea {margin:0;margin-left:10px;padding:5px; height: 48px; width: 696px; font-size: 13px; color: #777; line-height: 18px; border: 1px solid #d3d0cf; }
fieldset.form-comments input[type=submit] { position: absolute; top: 20px; right: 15px; display: block; height: 60px; width: 125px; font-size: 13px; color: #fff; font-weight: 400; text-align: center; background-color: #231f20; }
fieldset.form-comments input[type=button] { position: absolute; top: 20px; right: 15px; display: block; height: 60px; width: 125px; font-size: 13px; color: #fff; font-weight: 400; text-align: center; background-color: #231f20; }


/* 자신이 작성한 댓글 표시 */
.my_comment{position: relative; padding:20px 55px 20px 15px; display: block; border-bottom: 1px solid #d3d0cf;  border-top:1px solid #d3d0cf; margin:30px 0; background:#fafafc; min-height:95px;}
.my_comment .my_comment_title{margin-left:0px; font-size:15px; font-family:RixSGo B, sans-serif; color:#231f20; padding-bottom:20px; }
.my_comment a.btn-delete { position: absolute; top: 15px; right: 15px; display: block; height: 10px; width: 11px; text-indent: -9999em; background: url(../images/event/btn_delete01.png) left top no-repeat; }
.my_comment > img {float:left;width:60px;}
.my_comment > div,
.my_comment > p {margin-left:70px;}
.my_comment .uid {font-size: 13px; color: #231f20; font-family:'RixSGo B', sans-serif; margin-right:45px; }
.my_comment .date { font-size: 13px; color: #231f20; font-family:'RixSGo B', sans-serif;}
.my_comment p {margin-top:10px; font-size: 13px; color: #777; font-weight: 400; line-height: 19px; }
.my_comment p a {color:#6896ea;}

/* 이벤트 상세 댓글 목록 */
ul.list-comments {border-top:1px solid #d3d0cf;}
ul.list-comments li { position: relative; padding:20px 55px 20px 15px; display: block; border-bottom: 1px solid #d3d0cf; min-height:60px;}
ul.list-comments li a.btn-delete { position: absolute; top: 15px; right: 0; display: block; height: 10px; width: 11px; text-indent: -9999em; background: url(../images/event/btn_delete01.png) left top no-repeat;}
ul.list-comments li > img {float:left;width:60px;}
ul.list-comments li > div,
ul.list-comments li > p {margin-left:70px;}
ul.list-comments li .uid {font-size: 13px; color: #231f20; font-family:'RixSGo B', sans-serif; margin-right:45px; }
ul.list-comments li .date {font-family:'RixSGo B', sans-serif; font-size: 13px; color: #231f20; }
ul.list-comments li p {margin-top:10px; font-size: 13px; color: #777; font-weight: 400; line-height: 19px; }
ul.list-comments li p a {color:#6896ea;}

/* 이벤트 상세 당첨자 발표 */
.result-content { padding: 18px 15px 40px 15px; border-top: 1px solid #231f20; border-bottom: 1px solid #d3d0cf; }
.result-content p.content { font-size: 13px; color: #777; font-weight: 400; line-height: 19px; }
.result-content p.winner { margin-top: 16px; padding: 20px 0 20px 20px; font-size: 13px; color: #777; font-weight: 400; line-height: 19px; background-color: #f3f3f4; }
.result-content p.winner > span { display: inline-block; width: 145px; }


.event .container .btns_wrap { overflow: hidden; position: static; left: auto; float: none; margin-top: 10px; }
.event .container .btns_wrap .btns { position: static; float: right; margin: 0; }

/* brand week */
#contents.about .container .location {top:-9999em;}
#contents.about .container > section {margin-top:0; width:100%; min-width:980px;}
#contents.about .container{padding-bottom:0;}
#contents.about .container > section.comments {margin-top:50px; padding-bottom:30px; width:980px;}
#contents.about .container > section.comments h1{ font-family:'RixSGo B', sans-serif; font-weight:normal;}
#contents.about .container > section.comments .form-comments textarea {width:740px;}

.intro{text-align:center; background:url(../images/event/bg_event_green.jpg) repeat-x;}
.intro img{display:inline-block;}
.btn_select_event:focus{outline:none;} /* tester box 공통 */

.join {text-align:center; background:url(../images/event/bg_brandweek4-2.gif) repeat-x;}
.join img{display:inline-block;}

.product {text-align:center; background:url(../images/event/bg_brandweek4-3.png) no-repeat center top; background-size:contain; position:relative;}
.product .bw4-3{display:inline-block; position:relative; z-index:1;}
.product:after{content:""; display:block; width:100%; height:275px; background:#ececec; position:absolute; bottom:0; left:0;}
.product .product_img{width:1055px; margin:0 auto; position:relative;}
.product .product_img .tip{position:absolute; top:360px; z-index:2; cursor:pointer; display:none;}
.product .product_img .tip-1{top:280px; left:39px; height:350px;}
.product .product_img .tip-1 img{position:relative; top:80px;}
.product .product_img .tip-2{left:204px; height:260px;}
.product .product_img .tip-3{left:394px; height:285px;}
.product .product_img .tip-4{left:559px; height:285px;}
.product .product_img .tip-5{left:744px; height:285px;}
@media all and (max-width:1600px){
	.product {background-size:initial;}
}

.guide {text-align:center; background:#231f20;}
.guide img{display:inline-block;}

.layer-pop{position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/event/bg_layer_popup.png); z-index:5; display:none;}
.layer-pop .pop{position:absolute; top:1400px; left:50%; margin-left:-448px; display:none;}

.layer-pop .close{position:absolute; display:block; top:20px; right:20px;}

.brandweek-complete {position:fixed; top:0; left:0; width:100%; height:100%; background:url(../images/event/bg_layer_popup.png); z-index:5;}
.brandweek-complete .complete-msg{position:fixed; top:10%; left:50%; margin-left:-448px;}
.brandweek-complete .close{position:absolute; display:block; top:20px; right:20px;}

.testbox-complete {position:fixed; top:0; left:0; width:100%; height:100%; background:url(../images/event/bg_layer_popup.png); z-index:5;}
.testbox-complete .pay-msg{position:fixed; top:20%; left:50%; margin-left:-300px;}
.testbox-complete .close{position:absolute; display:block; top:20px; right:20px;}

/* tester box */
.tester_intro{text-align:center; background:url(../images/event/bg_event.jpg) repeat-x;}
.tester_intro img{display:inline-block;}

.tester_join {text-align:center;}
.tester_join img{display:inline-block;}

.tester_product{text-align:center; background:url(../images/event/bg_count.png) center top; background-size:cover;}
.tester_product img{display:inline-block;}
.tester_product .count{width:1180px; margin:0 auto; position:relative;}
.tester_product .count .number{position:absolute; top:220px; left:205px;}
.tester_product .count .number div{float:left; margin-right:112px; font-size:300px; font-family:RixSGO B, sans-serif; color:#231f20;}
.tester_product .count .btn{position:absolute; bottom:70px; left:50%; margin-left:-220px; width:463px;}
.tester_product .count .btn div{float:left; margin-right:6px; cursor:pointer;}
.tester_product .count .btn div.btn_pay{margin-right:0;}

.tester_guide{text-align:center; background:#231f20;}
.tester_guide img{display:inline-block;}

.layer-pop .tb_pop{position:absolute; top:1200px; left:50%; margin-left:-448px; display:none;}
.layer-pop .tb_pop.pop-3 .textarea{width:806px; position:absolute; top:281px; left:44px; text-align:center;}
.layer-pop .tb_pop.pop-3 textarea{width:744px; height:115px; font-family:RixSGo L, sans-serif; padding:30px; font-size:18px;}
.layer-pop .tb_pop input[type=image]{margin-top:20px;}

.layer-pop .tb_alert{width:543px; height:276px; position:absolute; top:170px; left:175px;}

/* movie event */

.movie_intro{text-align:center; background:url(../images/event/bg_me-1.jpg) repeat-x;}
.movie_intro img{width:979px; margin:0 auto; padding-left:135px;}

.movie{text-align:center; background:#231f20; position:relative;}
.gift{text-align:center; background:url(../images/event/bg_me-2.png);}
.movie img, .gift img{display:inline-block;}
.movie_layer{position:absolute; top:70px; left:50%; margin-left:-435px; width:850px; height:500px; background:#000; padding:10px; display:none;}
.movie_layer .m1,
.movie_layer .m2{display:none}
.movie_layer .m_close{display:block; position:absolute; top:10px; right:10px;}


/* 상품 목록 */
ul.list-products { overflow: hidden; margin: 0px -4px; }
ul.list-producs.fullsize { margin: 0px -5px; }
ul.list-products li { float: left; padding: 30px 4px 21px 4px; width: 226px; }
ul.list-products.fullsize li { padding-right: 5px; padding-left: 5px; }

	figure.product { }
	figure.product .frame { height: 191px; width: 226px; text-align: center; background-color: #f3f3f4; }
	figure.product figcaption { padding: 0 10px 0 6px; font-size: 13px; line-height: 18px; }

	figure.product p.icons { margin-top: 13px; margin-bottom: 5px; height: 20px; }
	figure.product p.icons span { position: relative; padding: 2px 4px; display: inline-block; font-size: 10px; color: #fff; font-weight: 400; line-height: 12px; letter-spacing: -0.1em; background-color: #231f20; }
	figure.product p.icons span:after { content: ''; position: absolute; bottom: -4px; left: 12px; display: block; height: 4px; width: 6px; background: url(../images/shop/bg_arrow04.png) left top no-repeat; }

	figure.product em.brand {display:block; height:36px; color: #231f20; font-family:'RixSGo B', sans-serif; font-weight:normal; font-style: normal; }
	figure.product p.title { height: 45px; color: #777; }

	figure.product p.price { padding-right: 7px; font-family: 'Alegreya', serif; font-style: italic; text-align: right; }
	figure.product p.price > a.btn-wish { float: left; margin-top: 2px; display: inline-block; height: 18px; width: 18px; text-align: left; text-indent: -9999px; background: url(../images/shop/btn_wish01.png) left top no-repeat; }
	figure.product p.price > a.btn-wish.on { background-position: -18px 0; }
	figure.product p.price > .dc-price {font-family:'Alegreya', serif; font-style:italic; font-weight:bold; font-size: 20px; color: #231f20; line-height: 18px; }
	figure.product p.price > .price { margin-left: 8px; font-size: 20px; color: #b9b9b9; line-height: 18px; }



/* 상품 정렬 */
h1.shop-sub-title + div.sorting { margin-top: -35px; padding: 6px 12px 0 0; height: 28px; text-align: right; border-bottom: 0px none; }
div.sorting { padding: 6px 12px 0 0; height: 28px; text-align: right; border-bottom: 1px solid #231f20; }
div.sorting a { margin: 0 6px; display: inline-block; height: 25px; cursor: pointer; font-size: 11px; color: #777; font-weight: 400; line-height: 25px; }
div.sorting a:hover,
div.sorting a.on { position: relative; color: #000; /*font-weight: 700; */}

div.sorting a:hover:after,
div.sorting a.on:after { content: ''; z-index: 10; position: absolute; right: -3px; bottom: -4px; left: -3px; display: block; height: 3px; background-color: #231f20; }
div.sorting .cnt { position: relative; padding: 0 0 0 20px; font-size: 12px; color: #777; font-weight: 400; line-height: 26px; }
div.sorting .cnt > em { font-size: 12px; color: #231f20; font-family:'RixSGo B', sans-serif; font-weight:normal; font-style: normal; }
div.sorting .cnt:after { content: '|'; position: absolute; top: -6px; left: 5px; display: block; font-size: 9px; color: #777; }


