/*==================================================
 * EVENT 공통 스타일
 ===================================================*/

#contents .container section.first-section { margin-top: 0px; }
#contents .container section.comments, #contents .container section.result { margin-top: 10px; }

/* EVENT 타이틀 */
.container > hgroup { margin: 0 auto; padding: 75px 0 0 0; display: block; width: 936px; line-height: 30px; }
.container > hgroup > h1 { font-size: 30px; color: #231f20;}
.container > hgroup > p { font-size: 14px; color: #777; font-weight: 400; }

/* EVENT 서브 타이틀 */
h1.sub-title { padding: 50px 0 6px 0; font-size: 15px; color: #231f20; font-weight: 400; }
h1.sub-title > em { margin-left: 8px; font-size: 13px; color: #000; font-style: normal; }



/* 대표 이벤트 & Tester's Box & POP! Choice */
ul.list-special-event { overflow: hidden; margin: 30px -5px 0 -5px; }
ul.list-special-event li { float: left; margin: 0 5px 10px 5px; width: 303px; border: 1px solid #d3d0cf; }

.list-special-event figure.item { }
.list-special-event figure.item.soldout > a { position: relative; display: block; }
.list-special-event figure.item.soldout > a:after { content: 'Sold Out'; position: absolute; top: 0; right: 0; left: 0; padding-top: 89px; display: block; height: 109px; font-family: 'Alegreya', serif; font-size: 25px; color: #fff; font-weight: bold; text-align: center; background: url(../images/event/bg_soldout.png) left top repeat; }

.list-special-event figure.item > figcaption { padding: 30px 15px 20px 16px; border-top: 1px solid #d3d0cf; }
.list-special-event figure.item hgroup span { position: relative; margin-bottom: 5px; padding: 0 3px; display: inline-block; font-size: 10px; color: #fff; font-weight: 400; line-height: 12px; letter-spacing: -0.1em; background-color: #231f20; }
.list-special-event figure.item hgroup span:after { content: ''; position: absolute; bottom: -4px; left: 12px; display: block; height: 4px; width: 6px; background: url(../images/shop/bg_arrow04.png) left top no-repeat; }
.list-special-event figure.item h1 { font-size: 12px; color: #231f20; font-weight: 400; line-height: 17px; }
.list-special-event figure.item p.desc { }
.list-special-event figure.item p.desc > a { font-size: 14px; color: #231f20; font-weight: 400; line-height: 20px; }
.list-special-event figure.item p.price { margin-top: 6px; font-family: 'Alegreya', serif; font-style: italic; text-align: right; }
.list-special-event figure.item p.price > .dc-price { font-size: 18px; color: #231f20; font-weight: 400; line-height: 18px; }
.list-special-event figure.item p.price > .price { margin-left: 8px; font-size: 18px; color: #b9b9b9; font-weight: 400; line-height: 18px; }
.list-special-event figure.item p.price > .soldout { font-size: 18px; color: #ed6851; font-weight: 400; }

.list-special-event figure.item p.info { overflow: hidden; margin-top: 18px; }
.list-special-event figure.item p.info > a.btn-wish { float: left; margin-top: 2px; display: inline-block; height: 18px; width: 18px; text-align: left; text-indent: -9999px; background: url(../images/shop/btn_wish01.png) left top no-repeat; }
.list-special-event figure.item p.info > a.btn-wish.on { background-position: -18px 0; }
.list-special-event figure.item p.info > span.remain { float: right; font-size: 14px; color: #231f20; font-weight: 400; line-height: 18px; }
.list-special-event figure.item p.info > span.remain > em {font-family:'RixSGo M', sans-serif;  font-weight:normal; font-style: normal; }

.other figure.item > figcaption { padding: 15px 15px 15px 16px; }
.other figure.item p.price { text-align: left; }


/* 이벤트 목록 */
.event .container .paging { margin-top: 60px; }

.list-event { overflow: hidden; position: relative; margin: 0 -5px; width: 946px; }
.list-event:after { content: ''; position: absolute; top: 0; right: 5px; left: 5px; display: block; height: 1px; background-color: #231f20; }
.list-event li { float: left; margin: 0 5px; padding: 30px 0 0 0; display: block; width: 226px; border-bottom: 1px solid #d3d0cf; }

.list-event figure.item { }
.list-event figure.item > figcaption { padding: 20px 5px 18px 5px; height:52px;}
.list-event figure.item .duration { font-size: 12px; color: #231f20; font-weight: 400; }
.list-event figure.item h1 { margin-top: 4px; font-size: 14px; color: #231f20; font-weight: 400; line-height:1.4;}


/* 이벤트 상세 댓글 작성 */
fieldset.form-comments { position: relative; padding:20px 15px; border-top: 2px solid #231f20; border-bottom: 1px solid #d3d0cf;}
fieldset.form-comments img {float:left; width:60px;}
fieldset.form-comments textarea {margin:0;margin-left:10px;padding:5px; height: 48px; width: 696px; font-size: 13px; color: #777; line-height: 18px; border: 1px solid #d3d0cf; }
fieldset.form-comments input[type=submit] { position: absolute; top: 20px; right: 15px; display: block; height: 60px; width: 125px; font-size: 13px; color: #fff; font-weight: 400; text-align: center; background-color: #231f20; }
fieldset.form-comments input[type=button] { position: absolute; top: 20px; right: 15px; display: block; height: 60px; width: 125px; font-size: 13px; color: #fff; font-weight: 400; text-align: center; background-color: #231f20; border:0;}


/* 자신이 작성한 댓글 표시 */
.my_comment{position: relative; padding:20px 55px 20px 15px; display: block; border-bottom: 1px solid #d3d0cf;  border-top:1px solid #d3d0cf; margin:30px 0; background:#fafafc; min-height:95px;}
.my_comment .my_comment_title{margin-left:0px; font-size:15px; font-family:RixSGo B, sans-serif; color:#231f20; padding-bottom:20px; }
.my_comment a.btn-delete { position: absolute; top: 15px; right: 15px; display: block; height: 10px; width: 11px; text-indent: -9999em; background: url(../images/event/btn_delete01.png) left top no-repeat; }
.my_comment > img {float:left;width:60px;}
.my_comment > div,
.my_comment > p {margin-left:70px;}
.my_comment .uid {font-size: 13px; color: #231f20; font-weight:600; margin-right:45px; }
.my_comment .date { font-size: 13px; color: #231f20; }
.my_comment p {margin-top:10px; font-size: 13px; color: #777; font-weight: 400; line-height: 19px; }
.my_comment p a {color:#6896ea;}
.my_comment #btn_del { position: absolute; top: 15px; right: 15px; display: block; height: 10px; width: 11px; text-indent: -9999em; background: url(../images/event/btn_delete01.png) left top no-repeat; cursor:pointer;}

/* 이벤트 상세 댓글 목록 */
ul.list-comments {border-top:1px solid #d3d0cf;}
ul.list-comments li { position: relative; padding:20px 55px 20px 15px; display: block; border-bottom: 1px solid #d3d0cf; min-height:60px;}
ul.list-comments li > img {float:left;width:60px;}
ul.list-comments li > div,
ul.list-comments li > p {margin-left:70px;}
ul.list-comments li .uid {font-size: 13px; margin-right:45px;}
ul.list-comments li .date {font-family:'RixSGo M', sans-serif; font-weight:normal; font-size: 13px; color: #231f20;}
ul.list-comments li p {margin-top:10px; font-size: 13px; color: #777; font-weight: 400; line-height: 19px; }
ul.list-comments li p a {color:#6896ea;}

/* 오모로비짜 브랜드 위크 */
.no-pic-cmt {width:100%;}
.no-pic-cmt .my_comment{margin:15px 0;}
.no-pic-cmt ul.list-comments li {padding:10px 55px 10px 20px;min-height:0;}
.no-pic-cmt fieldset.form-comments textarea {width:755px;}
.no-pic-cmt .my_comment > div,
.no-pic-cmt .my_comment > p,
.no-pic-cmt ul.list-comments li > div,
.no-pic-cmt ul.list-comments li > p {margin-left:0px;}
.no-pic-cmt ul.list-comments li p {margin-top:7px;}
.sorting.omo-brand-week {margin-top:60px;}
@media all and (max-width:640px){
	h1.sub-title {width:85%; line-height:1.2;}
	fieldset.form-comments {padding:10px;}
	fieldset.form-comments textarea,
	.no-pic-cmt fieldset.form-comments textarea {margin:0; padding:2%; width:96%; height:100px;}
	fieldset.form-comments input[type=button] {position:static; display:block; margin-top:15px; width:100%; height:44px; -webkit-appearance: none;}
	.no-pic-cmt ul.list-comments li {padding:10px;}
	ul.list-comments li .date {float:right;}
	.paging>a.arrow.first,
	.paging>a.arrow.last {display:none;}
}

/* 이벤트 상세 당첨자 발표 */
.result-content { padding: 18px 15px 40px 15px; border-top: 1px solid #231f20; border-bottom: 1px solid #d3d0cf; }
.result-content p.content { font-size: 13px; color: #777; font-weight: 400; line-height: 19px; }
.result-content p.winner { margin-top: 16px; padding: 20px 0 20px 20px; font-size: 13px; color: #777; font-weight: 400; line-height: 19px; background-color: #f3f3f4; }
.result-content p.winner > span { display: inline-block; width: 145px; }


.event .container .btns_wrap { overflow: hidden; position: static; left: auto; float: none; margin-top: 10px; }
.event .container .btns_wrap .btns { position: static; float: right; margin: 0; }

/* brand week */
#contents.event .container .location {display:none;}

#contents.about .container .location {top:-9999em;}
#contents.about .container > section {margin-top:0; width:100%; min-width:980px;}
#contents.about .container{padding-bottom:0;}
#contents.about .container > section.comments {margin-top:50px; padding-bottom:30px; width:980px;}
#contents.about .container > section.comments h1{font-weight:600;}
#contents.about .container > section.comments .form-comments textarea {width:740px;}

.intro{text-align:center; background:url(../images/event/bg_event_green.jpg) repeat-x;}
.intro img{display:inline-block;}
.btn_select_event:focus{outline:none;} /* tester box 공통 */


.join {text-align:center; background:url(../images/event/bg_brandweek4-2.gif) repeat-x;}
.join img{display:inline-block;}

.product {text-align:center; background:url(../images/event/bg_brandweek4-3.png) no-repeat center top; background-size:contain; position:relative;}
.product .bw4-3{display:inline-block; position:relative; z-index:1;}
.product:after{content:""; display:block; width:100%; height:275px; background:#ececec; position:absolute; bottom:0; left:0;}
.product .product_img{width:1055px; margin:0 auto; position:relative;}
.product .product_img .tip{position:absolute; top:360px; z-index:2; cursor:pointer; display:none;}
.product .product_img .tip-1{top:280px; left:39px; height:350px;}
.product .product_img .tip-1 img{position:relative; top:80px;}
.product .product_img .tip-2{left:204px; height:260px;}
.product .product_img .tip-3{left:394px; height:285px;}
.product .product_img .tip-4{left:559px; height:285px;}
.product .product_img .tip-5{left:744px; height:285px;}
@media all and (max-width:1600px){
	.product {background-size:initial;}
}

.guide {text-align:center; background:#231f20;}
.guide img{display:inline-block;}

.layer-pop{position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/event/bg_layer_popup.png); z-index:5; display:none;}
.layer-pop .pop{position:absolute; top:1400px; left:50%; margin-left:-448px; display:none;}

.layer-pop .close{position:absolute; display:block; top:20px; right:20px;}

.brandweek-complete {position:fixed; top:0; left:0; width:100%; height:100%; background:url(../images/event/bg_layer_popup.png); z-index:5;}
.brandweek-complete .complete-msg{position:fixed; top:10%; left:50%; margin-left:-448px;}
.brandweek-complete .close{position:absolute; display:block; top:20px; right:20px;}

.testbox-complete {position:fixed; top:0; left:0; width:100%; height:100%; background:url(../images/event/bg_layer_popup.png); z-index:5;}
.testbox-complete .pay-msg{position:fixed; top:20%; left:50%; margin-left:-300px;}
.testbox-complete .close{position:absolute; display:block; top:20px; right:20px;}

/* tester box */
.tester_intro{text-align:center; background:url(../images/event/bg_event.jpg) repeat-x;}
.tester_intro img{display:inline-block;}

.tester_join {text-align:center;}
.tester_join img{display:inline-block;}

.tester_product{text-align:center; background:url(../images/event/bg_count.png) center top; background-size:cover;}
.tester_product img{display:inline-block;}
.tester_product .count{width:1180px; margin:0 auto; position:relative;}
.tester_product .count .number{position:absolute; top:220px; left:205px;}
.tester_product .count .number div{float:left; margin-right:112px; font-size:300px; font-family:RixSGO B, sans-serif; color:#231f20;}
.tester_product .count .btn{position:absolute; bottom:70px; left:50%; margin-left:-220px; width:463px;}
.tester_product .count .btn div{float:left; margin-right:6px; cursor:pointer;}
.tester_product .count .btn div.btn_pay{margin-right:0;}

.tester_guide{text-align:center; background:#231f20;}
.tester_guide img{display:inline-block;}

.layer-pop .tb_pop{position:absolute; top:1200px; left:50%; margin-left:-448px; display:none;}
.layer-pop .tb_pop.pop-3 .textarea{width:806px; position:absolute; top:281px; left:44px; text-align:center;}
.layer-pop .tb_pop.pop-3 textarea{width:744px; height:115px; font-family:RixSGo L, sans-serif; padding:30px; font-size:18px;}
.layer-pop .tb_pop input[type=image]{margin-top:20px;}


.layer-pop .tb_pop input[type=submit] {margin-top:20px; width:100px; height:40px; line-height:40px; color:#fff; background-color:#231f20; border:0; text-align:center; }
.layer-pop .tb_alert{width:543px; height:276px; position:absolute; top:170px; left:175px;} 

/* movie event */

.movie_intro{text-align:center; background:url(../images/event/bg_me-1.jpg) repeat-x;}
.movie_intro img{width:979px; margin:0 auto; padding-left:135px;}

.movie{text-align:center; background:#231f20; position:relative;}
.gift{text-align:center; background:url(../images/event/bg_me-2.png);}
.movie img, .gift img{display:inline-block;}
.movie_layer{position:absolute; top:70px; left:50%; margin-left:-435px; width:850px; height:500px; background:#000; padding:10px; display:none;}
.movie_layer .m1,
.movie_layer .m2{display:none}
.movie_layer .m_close{display:block; position:absolute; top:10px; right:10px;}


/* 어린왕자 이벤트 */
#contents .container .little_prince {width:100%; margin:0 auto; font-family:'RixSGo L', sans-serif;}
.little_prince .lp_header {position:relative; padding-top:165px; height:695px; background:url(../images/event/little_prince_01.jpg) no-repeat 50% 0; background-size:cover; text-align:center;}
.little_prince .lp_header p {font-size:67px; color:#ffe001; line-height:1.2;}
.little_prince .lp_header p span {display:block; font-size:73px; font-family:'RixSGo B', sans-serif;}
.little_prince .lp_header h1 {margin-top:375px; font-size:16px; color:#23456c; line-height:1.5;}
.little_prince .lp_header h1 span {display:block; margin-bottom:10px; font-size:24px;}
.little_prince .lp_header h1 span strong {color:#23456c;}
.little_prince .lp_header .scroll {position:absolute; top:475px; left:50%; margin-left:-31px; width:63px; height:63px; font-size:10px; color:#2f5982; padding-top:18px; box-sizing:border-box; background:url(../images/event/little_prince_btn_scroll.png) no-repeat;}
.little_prince .lp_apply {position:relative;padding-top:55px; height:595px; z-index:10;}
.little_prince .lp_apply h2 {font-size:40px; text-align:center; color:#231f20; line-height:1.4; font-family:'RixSGo B', sans-serif;}
.little_prince .lp_apply .howto {margin:25px auto 0 auto; padding:110px 0 125px 580px; width:360px; background:url(../images/event/little_prince_card.png) no-repeat;}
.little_prince .lp_apply .howto ul li {margin-bottom:20px; font-size:16px; padding-left:11px; background:url(../images/event/little_prince_bullet_01.png) no-repeat 0 2px; color:#231f20;}
.little_prince .lp_apply .howto ul li span {margin-right:17px;}
.little_prince .lp_apply .howto ul li em {font-style:normal; font-family:'RixSGo B', sans-serif;}
.little_prince .lp_apply .howto p {position:relative; margin-top:35px; padding-left:45px; color:#423f3f;}
.little_prince .lp_apply .howto p:after {content:''; position:absolute; top:4px; left:0; display:block; width:35px; height:1px; background:#231f20;}
.little_prince .lp_apply .howto p span {display:block; margin-top:5px; font-family:'RixSGo B', sans-serif;}
.little_prince .lp_apply .howto a {display:block; margin:30px 0 0 50px; width:189px; height:53px;background:url(../images/event/little_prince_btn_fb.png) no-repeat; text-indent:-9999px;}
.little_prince .lp_apply .howto .share_info {margin:18px 0 0 50px;}
.little_prince .lp_img {position:relative;}
.little_prince .lp_img > p {padding:100px 0; background:#231f20; color:#fff; line-height:1.4; font-size:36px; text-align:center;}
.little_prince .lp_img > p span {display:block; font-family:'RixSGo B', sans-serif;}
.little_prince .lp_img > p.gift {padding-top:810px; padding-bottom:0; height:50px; font-size:20px; color:#fff; text-align:center; background:url(../images/event/little_prince_02.jpg) 50% 0;}
.little_prince .lp_img .img_msg {position:absolute; top:330px; right:30px; font-size:14px; color:#cacaca; text-shadow:0 0 3px rgba(0,0,0,.5);}
.little_prince .lp_detail {padding:80px 0; background:#f9f9f9;}
.little_prince .lp_detail > ul {margin:0 auto; width:940px;}
.little_prince .lp_detail > ul:after {content:''; display:block; clear:both;}
.little_prince .lp_detail > ul > li {float:left; font-size:15px; color:#312e2a; padding-left:13px; background:url(../images/event/little_prince_bullet_01.png) no-repeat 0 2px;}
.little_prince .lp_detail > ul > li .title {font-family:'RixSGo B', sans-serif;}
.little_prince .lp_detail .inner {margin-top:10px;}
.little_prince .lp_detail .inner li {margin-top:5px; padding-left:10px; color:#767676; background:url(../images/event/little_prince_bullet_02.png) no-repeat 0 10px; font-size:13px; line-height:1.4;}
.little_prince .lp_detail .inner li:first-child {margin-top:0;}
.little_prince .lp_detail > ul > li.price {float:right; width:470px;}
.little_prince .lp_detail > ul > li.rule {clear:left; margin-top:70px; width:360px;}
.little_prince .lp_detail .inner li span {display:block; font-family:'RixSGo B', sans-serif;}
.little_prince .lp_detail > ul > li.price p {margin-top:40px; padding-left:15px; text-indent:-15px; color:#767676; line-height:1.4; font-size:13px;}
.little_prince + #iframeComment {display:block; margin:0 auto; width:936px;}
@media all and (max-width:1000px){
	.little_prince + #iframeComment {width:90%;}
}


.lp_cmts {padding-top:70px; padding-left:115px; padding-bottom:7px; font-size:15px; text-indent:-115px;}
.lp_cmts span {display:inline-block; margin-right:7px; width:105px; height:30px; line-height:30px; text-align:center; color:#fff; border-top:1px solid #d3d2d2; background:#231f20; vertical-align:middle; text-indent:0;}

#little_prince_pop {position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/event/little_prince_bg_curtain.png); z-index:100; display:none;}
#little_prince_pop .little_prince_pop_content {position:fixed; top:50%; left:50%; margin-top:-130px; margin-left:-265px; width:530px; height:260px; background:#fff; border:7px solid #363133;}
#little_prince_pop .little_prince_pop_content p {margin-top:70px; font-size:18px; line-height:1.6; text-align:center;}
#little_prince_pop .little_prince_pop_content p span {color:#231f20;}
#little_prince_pop .little_prince_pop_content .confirm {display:block; margin:30px auto 0 auto; width:96px; height:26px; line-height:26px; border:3px solid #333; color:#231f20; text-align:center;}
#little_prince_pop .close{position:absolute; display:block; top:20px; right:20px;}

/* 보테가베르데이벤트 */
#contents .container .bottega {width:100%; margin:0 auto;}
.bottega .header {position:relative}
.bottega .header .bg_movie_wrap {width:100%; height:%; overflow:hidden; background:#000;}
.bottega .header .bg_movie_wrap.no_movie {background:#000 url(../images/event/bottega_bg_poster.jpg) no-repeat 50% 0; background-size:cover}
.bottega .header #bg_movie {width:100%; height:100%;}
.bottega .header .title {position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/event/bottega_bg_pattern.png); z-index:1;}
.bottega .header .title img {position:absolute; top:50%; left:50%; width:503px; height:245px; margin:-225px 0 0 -251px;}
.bottega .header .list {position:absolute; bottom:0; left:0; width:100%; height:217px; background:url(../images/event/bottega_bg_header.png)}
.bottega .header .list img {display:block; margin:68px auto 0 auto;}

#bv_evt_01 {padding-top:65px;}
#bv_evt_01 h1 {margin-bottom:35px; text-align:center;}
#bv_evt_01 h1 img {display:inline;}

#bv_evt_01 .birthday .check_day {text-align:center; font-size:20px; color:#231f20; line-height:53px; font-weight:bold; font-family:'RixSGo M', sans-serif;}
#bv_evt_01 .birthday .check_day span {position:relative; font-size:0;vertical-align:middle;}
#bv_evt_01 .birthday .check_day span input[type=radio] {position:absolute; opacity:0; z-index:-1;}
#bv_evt_01 .birthday .check_day span label {display:inline-block; width:95px; height:53px; line-height:53px; text-align:center; font-size:20px; background:#f1f1f1; color:#b1b1b1; cursor:pointer;}
#bv_evt_01 .birthday .check_day span.checked label {background:#231f20; color:#fff;}
#bv_evt_01 .birthday .check_day select {margin:0 7px 0 15px; border:3px solid #231f20; width:95px; height:53px; box-sizing:border-box; font-size:20px; vertical-align:middle;}
#bv_evt_01 .birthday .check_day select.year {width:190px;}
#bv_evt_01 .birthday .check_day .btn_confirm {display:block; margin:30px auto 0 auto; width:115px;}

#bv_evt_01 .birthday .movie_list {margin-top:70px; padding:20px 0 30px; background:#231f20;}
#bv_evt_01 .birthday .movie_list ul {margin:0 6%; text-align:center; font-size:0;}
#bv_evt_01 .birthday .movie_list ul li {position:relative; display:inline-block; margin:0 3px; margin-top:10px; width:135px; height:108px;}
#bv_evt_01 .birthday .movie_list ul li > p {font-size:13px; color:#6f6f6f; text-align:center;}
#bv_evt_01 .birthday .movie_list ul li a {position:absolute; bottom:0; left:0;z-index:1}
#bv_evt_01 .birthday .movie_list ul li .cover {position:absolute; bottom:0; left:0; width:135px; height:82px; background:url(../images/event/bottega_bg_header.png); z-index:2}
#bv_evt_01 .birthday .movie_list ul li.yourday > p,
#bv_evt_01 .birthday .movie_list ul li.active > p {color:#f6f6f6;}
#bv_evt_01 .birthday .movie_list ul li a { z-index:2}
#bv_evt_01 .birthday .movie_list ul li.active .cover {display:none;}
#bv_evt_01 .birthday .movie_list ul li.yourday .cover {bottom:-2px; left:-2px; width:139px; height:86px; background:#fff; z-index:1;}
#bv_evt_01 .birthday .movie_list .btn_full {position:relative; display:block; margin:24px auto 0 auto; width:135px;}
#bv_evt_01 .birthday .movie_list .btn_full .cover {position:absolute; bottom:0; left:0; width:135px; height:27px; background:url(../images/event/bottega_bg_header.png); z-index:2}
#bv_evt_01 .birthday .movie_list .btn_full.active .cover {display:none;}

#bv_evt_01 .gift {padding-top:50px; height:430px; background:url(../images/event/bottega_bg_share.png) no-repeat 50% 0; background-size:cover; text-align:center;}
#bv_evt_01 .gift img{display:inline;}
#bv_evt_01 .gift_info img{margin:0 auto; width:980px;}

#bv_evt_01 .gallery {position:relative;}
#bv_evt_01 .gallery h2 {padding:65px 0; text-align:center; background:#f9f9f9;}
#bv_evt_01 .gallery h2 img {display:inline;}
#bv_evt_01 .gallery ul {overflow:hidden;}
#bv_evt_01 .gallery ul li {float:left;}
#bv_evt_01 .gallery ul li img {width:100%;}
#bv_evt_01 .gallery ul li.mon {width:59.5625%;}
#bv_evt_01 .gallery ul li.tue {width:40.4375%;}
#bv_evt_01 .gallery ul li.wed {width:49.6875%;}
#bv_evt_01 .gallery ul li.thu {width:50.3125%;}
#bv_evt_01 .gallery ul li.fri {width:29.625%;}
#bv_evt_01 .gallery ul li.sat {width:30.5625%;}
#bv_evt_01 .gallery ul li.sun {width:39.8125%;}
#bv_evt_01 .gallery ul li a {display:block; position:relative;}
#bv_evt_01 .gallery ul li a .over {position:absolute; top:0; left:0; width:100%;}
#bv_evt_01 .gallery .gallery_curtain {display:none;position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/event/bottega_bg_gallery.png); z-index:10;}

#bv_evt_02 {text-align:center;}
#bv_evt_02 h1 {padding-top:70px;}
#bv_evt_02 > img {display:inline;}
#bv_evt_02 h1 img {display:inline;}
#bv_evt_02 .gift_box {position:relative; padding-top:10px; height:340px;}
#bv_evt_02 .gift_box img {margin:0 auto; margin-top:30px; width:270px;}

#bv_evt_02 .info_box {margin-top:70px; padding-top:60px; background:#f5f5f5;}
#bv_evt_02 .info_box img {margin:0 auto; width:1019px;}

#bv_evt_03 h1 {background:url(../images/event/bottega_bg_ev03.png)}
#bv_evt_03 h1 img {margin:0 auto; width:980px;}
#bv_evt_03 > div {padding-top:60px; text-align:center;}
#bv_evt_03 > div img {display:inline;}

.bottega iframe {display:block; margin:0 auto; margin-bottom:30px; width:90%;}

.layer_popup {display:none; position:absolute; left:50%; z-index:20;}
.layer_popup img {display:block;}
.btn_close_layer {position:absolute; top:10px; right:10px;}

.day_pop {top:1013px; margin-left:-480px; width:960px;}

.box_open {top:3000px; margin-left:-279px; width:558px; height:583px; background:url(../images/event/bottega_box_open.png) no-repeat 50% 0;}
.box_open .gift_paper {position:absolute; top:50%; left:50%; margin-left:-259px; margin-top:-80px; width:517px; height:281px; background:url(../images/event/bottega_box_paper.png) no-repeat; text-align:center;}
.box_open .gift_paper .title {padding-top:30px; font-size:23px; color:#231f20; line-height:1.4;}
.box_open .gift_paper .title > span {font-size:30px;}
.box_open .gift_paper .title > span span {font-weight:bold;}
.box_open .gift_paper .check_gift {font-weight:bold;}
.box_open .gift_paper p {margin-top:25px; color:#717171; font-size:13px;}
.box_open .gift_paper p a {display:inline-block; margin-left:5px; padding:3px 7px; border:1px solid #717171;}
.box_open .gift_paper .check_gift {display:block; margin:15px auto 0; width:105px; height:35px; line-height:35px; background:#231f20; color:#fff; text-align:center;}
.box_open .gift_paper .btn_close_layer {position:absolute; top:15px; right:15px;}

.movie {top:1056px; margin-left:-382px; width:764px; height:430px;}
.movie a {position:absolute; top:-46px; left:50%;}
/* .movie .btn_share_ks {margin-left:-60px;} */
.movie .btn_share_fb {margin-left:-40px;}
.movie .btn_close_layer {margin-left:4px;}

.prize {top:1745px; margin-left:-347px; width:695px;}

.wallpaper {margin-left:-132px; padding-top:66px; width:264px; height:477px; background:url(../images/event/bottega_bg_phone.png) no-repeat 50%; text-align:center;}
.wallpaper img {display:inline;}
.wallpaper .btn_close_layer {top:-20px; right:-25px;}

.bv_cmts {padding-top:70px; width:445px; background:url(../images/event/bottega_bg_reply.png) no-repeat 100% 90%;}
.bv_cmts h1 {margin-bottom:5px; font-size:15px; font-weight:bold;}
.bv_cmts p {padding:0 102px 12px 0; font-size:13px; line-height:1.4;}
.bv_cmts p em {font-style:normal; color:#ff0901;}

.bv_login img {display:inline;}
.bv_login .close {cursor:pointer;}


@media all and (max-width:480px){
	.bv_cmts {width:auto; background-position:100% 95%;}
}