/*=====================================================
 * 마이페이지 공통 스타일
 ======================================================*/
/* 공통 스타일 */
.container section {margin-top:50px;}
.container section > h1{font-size:15px; margin-bottom:10px;}
 
/*탭 스타일 */
.tab {margin:40px auto 0;width:936px; height:44px;}
.tab li {float:left; width:25%;}
.tab li a {display:block; height:43px; line-height:39px; line-height:47px\0; text-align:center; font-size:15px; border-bottom:1px solid #231f20;}
.tab li a.on {height:39px; border-bottom:5px solid #231f20;}

.sub_tab {margin:50px 0 30px; height:40px; border-bottom:1px solid #231f20;}
.sub_tab li {float:left;}
.sub_tab li a {display:block; width:154px; height:39px; line-height:39px; text-align:center; font-size:15px; background-color:#f3f3f4; border:1px solid #d3d0cf; border-bottom:0; font-weight:500;
}
.sub_tab li a.on {height:40px; color:#231f20; background-color:#fff; border-color:#231f20;}
 
/* 회원정보 공통 */
.account_summary {padding-top:128px;}
.account_summary .user_name {padding-top:80px; border-top:3px solid #231f20; font-size:24px;}
.account_summary .user_class {margin-top:10px; font-size:30px; font-weight:900; color:#231f20;}
.account_summary .user_class em {font-style:normal; color:#ed6851;}
.account_summary .user_class_icon {margin-top:30px; width:138px; height:36px; line-height:36px; text-align:center; color:#231f20; border:3px solid #231f20; font-weight:400;}
.account_summary .point_coupon {margin-top:80px; padding-top:33px; padding-left:33px; height:65px; background:#f3f3f4;}
.account_summary .point_coupon p {float:left; padding-left:42px; height:36px; background:url(../images/mypage/icon_info.png) no-repeat 0 -119px; color:#231f20; font-size:24px;}
.account_summary .point_coupon p:first-child {margin-right:60px; background-position:0 7px;}
.account_summary .point_coupon p strong {margin-left:10px; font-size:36px;}
.account_summary .point_coupon p span {margin-left:5px; font-size:18px;}

/* 기갑별 조회  */
.find_purchase .find_area{width:828px; height:24px; padding:30px 0 30px 110px; background:#f3f3f4;}
.find_purchase .find_area>div{float:left;}
.find_purchase .find_area>div>*{float:left; height:24px; line-height:24px;}
.find_purchase .find_area>div>h2{margin-right:10px; color:#231f20;}
.find_purchase .find_area>div>.btn_period{display:block; width:58px; height:24px; line-height:1; text-align:center; border:1px solid #d3d0cf; background:#fff; margin:0; margin-right:3px; padding:0; font-family:'ns', sans-serif; color:#777;}
.find_purchase .find_area>div>.btn_period.active{background:#231f20; color:#f3f3f4; border-color:#231f20;}
.find_purchase .find_area>.select_date{margin-left:30px; width:445px;}
.find_purchase .find_area .input_cal>*{float:left;}
.find_purchase .find_area .input_cal>img{cursor:pointer;}
.find_purchase .find_area .input_cal>input{margin:0; padding:0; width:128px; height:22px; border:1px solid #ccc; margin-right:3px;}
.find_purchase .find_area .input_cal>button{margin:0;padding:0;width:23px;height:24px;border:0;background:none;}
.find_purchase .find_area .dash_cal{margin:0 7px;}
.find_purchase .find_area .btn_search{display:block; float:left; width:47px; height:24px; text-align:center; line-height:24px; color:#f3f3f4; background:#231f20; margin-left:10px; }
 
/*달력 컨트롤 */
.ui-datepicker{margin:0px; padding:0px; width:250px;}
.ui-widget{font-family:'Nanum Gothic', ng, sans-serif; font-weight:bold;}
.ui-widget-content{border:0; background:#fff;}
.ui-widget-header{border:0; border-bottom:1px solid #000; background:#000; color:#fff;}
.ui-datepicker .ui-datepicker-header{padding:0; width:250px; height:24px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-state-hover.ui-datepicker-prev-hover, .ui-datepicker .ui-state-hover.ui-datepicker-next-hover{ position: absolute;	top: 5px;	width: 15px; height: 15px; text-indent:-99999em; cursor:pointer;	background:url(../images/mypage/caret_cal.gif) no-repeat 0px 0px; }
.ui-datepicker .ui-datepicker-prev {left: 65px;}
.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-state-hover.ui-datepicker-next-hover {right: 65px; background-position:-19px 0px}
.ui-datepicker .ui-datepicker-title{font-size:13px; margin: 0 2.3em; line-height: 1.8em; text-align: center;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-radius:0;}
.ui-datepicker table{font-size:13px; width:100%;}
.ui-datepicker table th{border:1px solid #000; font-weight:700; sans-serif; color:#000; padding:.7em .3em; text-align:center;}
.ui-datepicker table td{border:1px solid #000; padding:0;}
.ui-datepicker td span, .ui-datepicker td a{display: block; padding: .2em;	text-align: right;	text-decoration: none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:0; background:none; color:#000;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:0; background:#000; color:#fff;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {border:0; background:#000;	color: #fff;}

/* 테이블 공통 */
table td .btn {display:inline-block; margin-left:10px; padding:0 8px; height:22px; line-height:22px; color:#231f20; text-align:center; border:1px solid #231f20; font-size:12px;}
.type_vertical th{border-top:2px solid #000; border-bottom:1px solid #000; height:52px; color:#231f20;}
.type_vertical td{text-align:center; height:51px; line-height:1.4; border-bottom:1px solid #ccc;}
/*=====================================================
 * 나의쇼핑
 ======================================================*/ 
.order_result>p{margin-bottom:10px; color:#666;}
.order_result table td {height:99px;}
.order_result table td.order_num > a {color:#ed6851; line-height:1.2;}
.order_result table td.order_num > div {margin-top:8px;}
.order_result table td.order_num > div .btn {margin-left:0;}
.order_result table td.product_image img{margin:0 auto; width:60px; height:60px;}
.order_result table td.product_info{text-align:left;}
.order_result table td.product_info .name{margin-bottom:5px;}
.order_result table td.product_info .option{font-size:11px; margin-bottom:5px; line-height:1.6;}
.order_result table td.state {color:#231f20; font-weight:400;}

.shipping_info .tracking_num {display:inline-block; height:22px; line-height:22px; border-bottom:1px solid #777; vertical-align:middle;}

/*=====================================================
 * 나의혜택
 ======================================================*/ 
/* 포인트 */
.point .information {padding:35px 0; border:1px solid #d3d0cf;}
.point .information p {line-height:1.5; text-align:center;}
.point .information em {font-style:normal; color:#231f20;}
.my_point td {color:#ed6851;}
.point_balance .title {text-align:left;}
.point_balance .title span {color:#231f20;}
.point_balance .point {color:#ed6851;}

/* 쿠폰 */
.regist_coupon {padding:30px 0; height:24px; background:#f3f3f4; text-align:center;}
.regist_coupon label,
.regist_coupon input {display:inline-block;}
.regist_coupon label {width:110px; color:#231f20; font-weight:400;}
.regist_coupon input[type=text] {width:400px;}
.regist_coupon input[type=submit] {margin-left:8px; width:47px; height:24px; text-align:center; line-height:24px; color:#f3f3f4; background:#231f20;}

/*=====================================================
 * 나의활동
 ======================================================*/
/* 나의활동 테이블 공통 */
.toggle_list th,
.toggle_list td {height:39px; border-bottom:1px solid #d3d0cf;}
.toggle_list tr:first-child th,
.toggle_list tr:first-child td {border-top:2px solid #231f20;}
.toggle_list .title {color:#231f20; font-weight:500;}
.toggle_list .title th {padding-left:15px; text-align:left; font-weight:500;}
.toggle_list .title a {color:#231f20; font-weight:500;}

.toggle_list .detail {display:none;}
.toggle_list .detail td {padding:10px 15px;}
.toggle_list .detail .detail_view {position:relative; margin-bottom:10px; padding:15px 0; padding-left:135px;}
.toggle_list .detail .detail_view .attached {position:absolute; right:0; bottom:15px;}
.toggle_list .detail .detail_view .attached a {margin-left:10px; border-bottom:1px solid #777;}

.toggle_list .detail .answer_view {padding:40px; padding-left:135px; background:#f3f3f4 url(../images/mypage/bg_answer_inquiry.png) no-repeat 55px 35px; line-height:1.7}
.toggle_list .detail .answer_view .admin {margin-bottom:10px; color:#231f20; font-weight:500; line-height:1;}
 
.toggle_list .detail .btns_article {margin-top:20px; text-align:right;}
.toggle_list .detail .btns_article .btn {padding:0; width:60px;}

.toggle_list  .no_result {padding:30px 0; font-width:500; color:#231f20; text-align:center;}
 
 /*1:1상담내역 */
.search_box {margin-bottom:10px;}
.search_box .search_box_wrap {float:right;}
.search_box select,
.search_box input {float:left; margin-right:3px;}
.search_box select {height:24px;}
.search_box input[type=text] {width:185px; height:22px; line-height:22px;}
.search_box input[type=submit] { margin:0; width:47px; height:24px; line-height:22px; color:#fff; background-color:#000; border:0; font-weight:bold; text-align:center; }

/* 제품Q&A */
.toggle_list.qna_list .detail .detail_view {padding-left:85px;}
.toggle_list.qna_list .detail .answer_view {padding-left:85px; background:#f3f3f4 url(../images/mypage/bg_answer_qna.png) no-repeat 20px 22px;}

/* 리뷰 */
.toggle_list.review_list .detail .detail_view {padding-left:15px;}
.toggle_list.review_list .detail .btns_article .btn {margin-left:2px;}


/*=====================================================
 * 나의정보
 ======================================================*/
/* 비밀번호 확인 */
.check_pw .chk_info {margin-top:100px;}
.check_pw .chk_info h1 {margin-bottom:15px; font-size:26px; text-align:center;}
.check_pw .chk_info p {margin-top:7px; text-align:center;}
.check_pw .chk_info .input_area {margin-top:45px; padding:75px 0; padding-left:172px; border-top:2px solid #231f20; border-bottom:1px solid #d3d0cf;}
.check_pw .chk_info .input_area > div:first-child {margin-bottom:20px;}
.check_pw .chk_info .input_area > div strong {display:inline-block; width:57px;}
.check_pw .chk_info .input_area > div input[type=text] {width:240px;}
.check_pw .chk_info .input_area > div input[type=submit] {margin-left:8px; width:131px; height:34px; background:#231f20; color:#f3f3f4;}

/* 나의피부타입 */
.chk_type {border-bottom:1px solid #d3d0cf;}
.chk_type li {margin-bottom:70px;}
.chk_type li .num {float:left; display:block; width:43px; height:43px; line-height:43px; background:url(../images/mypage/bg_skin_question.png); text-align:center; font-size:18px; color:#f3f3f4;}
.chk_type li > p,
.chk_type li > div {margin-left:53px;}
.chk_type li .title {margin-bottom:7px; font-size:24px;}
.chk_type li > div {margin-top:25px;}
.chk_type li > div input {margin-right:10px;}
.chk_type li > div label {margin-right:30px;}

/* 회원정보 수정 */
.info_table select{height:24px; line-height:24px; border:1px solid #ccc; color:#666; font-size:12px;}
.info_table input[type=checkbox]{margin-right:2px;}
.info_table .phone>div{float:left; height:24px; line-height:24px; margin-right:5px;}
.info_table .phone input, .info_table .phone select{width:55px;}
.info_table .email>div{float:left; height:24px; line-height:24px; margin-right:5px;}
.info_table .email input,.customer_info .email select{width:135px;}

/* 회원탈퇴 */
.caution_msg ul {margin:20px 0;}
.caution_msg p,
.caution_msg li {line-height:1.4;}
.point_info table .point {color:#ed6851;}
.del_account_form > p {line-height:1.4;}
.del_account_form > table {margin-top:10px;}
.del_account_form > table th {line-height:1.5;}
.del_account_form > table ul li {margin-top:23px;}
.del_account_form > table ul li:first-child {margin-top:0;}
.del_account_form > table ul li label {margin-left:10px;}
.del_account_form > table textarea {padding:5px; width:712px; height:146px; border:1px solid #d3d0cf;}

/* 회원탈퇴완료 */
.complete_del_account .complete_del {margin-top:100px; text-align:center;}
.complete_del img {display:inline;}
.complete_del p {margin-top:20px;}
.complete_del .complete_msg {margin-top:50px; line-height:1.2; font-size:24px;}
.complete_del .complete_msg em {font-style:normal; color:#ed6851;}
.complete_del_account .btns_wrap {margin-top:100px;}