/*

			• ▌ ▄ ·.        ▄ .▄
			·██ ▐███▪▪     ██▪▐█
			▐█ ▌▐▌▐█· ▄█▀▄ ██▀▐█
			██ ██▌▐█▌▐█▌.▐▌██▌▐▀
			▀▀  █▪▀▀▀ ▀█▄▀▪▀▀▀ ·


 */

/* ===========================================================================================
 *	 http://meyerweb.com/eric/tools/css/reset/ 
 *  v2.0 | 20110126
 *  License: none (public domain)
 *  Reset Css
 * =========================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	/*overflow-y:scroll;*/
}
body {
	font-family: 'RixSGo L', sans-serif; font-size:13px; color:#fff;
	line-height: 1;	line-height:1.4\0; letter-spacing:-0.25px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Adding Css Code */
a {
	font-family: 'RixSGo L', sans-serif; font-size:13px; font-weight:300; color:#777;
	text-decoration: none;
}
a:active{background:transparent;}
input {
	margin:0;
	padding:0;
	font-family: 'RixSGo L', sans-serif; font-size:13px; font-weight:300; color:#777;
}
input[type=text],
input[type=password] {height:32px;line-height:32px; border:1px solid #d3d0cf;}
input[type=submit], input[type=image], button{
	cursor: pointer;
	border:0;
}
select{font-family: 'RixSGo L', sans-serif; font-size:13px; font-weight:300; color:#777;}
input,
label,
selectbox {vertical-align:middle;}
img{display:block;}
address{font-style:normal;}
strong, h1{color:#231f20; font-weight:bold;}
table{width:100%;}

/*  ========================================  */
/*  custom  */

html, body{width:100%; height:100%;}
.wrap{width:100%; height:100%; overflow:hidden; }
video{width:100%; min-width:1800px;}
.video_area{overflow:hidden;}
.video_area:after{content:""; display:block; width:100%; height:100%; background:#1e1400; opacity:0.6; position:absolute; top:0; left:0;}

.logo_image{position:absolute; top:30px; left:50%;}

.text_crop{width:100%; height:230px; position:absolute; top:30%; left:0; overflow:hidden;
	display:table-cell; vertical-align:middle;
}
.text_area{width:100%; height:230px; min-width:1050px; position:absolute; top:0; left:0;}
.text_area img{display:inline-block;}
.text_area>div{text-align:center;}

.text_area .message_1{font-size:36px; font-family: 'RixSGo L', sans-serif; margin-bottom:50px;
	letter-spacing:24px;
}
.text_area .message_1 span{font-family:'RixSGo B', sans-serif; font-weight:bold;}
.text_area .message_1-1{font-size:15px; line-height:1.8;}

	.brand{width:650px; margin:0 auto;}
	.brand:after{content:""; display:block; clear:both;}
	.brand>div{float:left; width:130px; font-size:10px;}
	
	.brand>div .logo{height:50px; margin-bottom:10px;}
	.brand>div .country{font-size:10px; margin-bottom:5px;}
	.brand>div .korean{font-size:12px;}
	.brand>div .korean:after{content:""; display:block; width:15px; height:1px; background:#fff;
		margin:15px auto;}
	.brand>div .desc{color:#777; line-height:1.4;}

	.message_2{font-size:18px; margin-top:50px;}

.date_slogan{position:absolute; bottom:30px; left:50%;}
.date{font-family: 'RixSGo B', sans-serif; font-size:30px;}
.slogan{font-family: 'RixSGo L', sans-serif; font-size:15px; color:#777;}


