/*

			• ▌ ▄ ·.        ▄ .▄
			·██ ▐███▪▪     ██▪▐█
			▐█ ▌▐▌▐█· ▄█▀▄ ██▀▐█
			██ ██▌▐█▌▐█▌.▐▌██▌▐▀
			▀▀  █▪▀▀▀ ▀█▄▀▪▀▀▀ ·


 */

/* ===========================================================================================
 *	 http://meyerweb.com/eric/tools/css/reset/ 
 *  v2.0 | 20110126
 *  License: none (public domain)
 *  Reset Css
 * =========================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	/*overflow-y:scroll;*/
}
body {
	font-family: 'RixSGo L', sans-serif; font-size:13px; color:#fff;
	line-height: 1;	line-height:1.4\0; letter-spacing:-0.25px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Adding Css Code */
a {
	font-family: 'RixSGo L', sans-serif; font-size:13px; font-weight:300; color:#777;
	text-decoration: none;
}
a:active{background:transparent;}
input {
	margin:0;
	padding:0;
	font-family: 'RixSGo L', sans-serif; font-size:13px; font-weight:300; color:#777;
}
input[type=text],
input[type=password] {height:32px;line-height:32px; border:1px solid #d3d0cf;}
input[type=submit], input[type=image], button{
	cursor: pointer;
	border:0;
}
select{font-family: 'RixSGo L', sans-serif; font-size:13px; font-weight:300; color:#777;}
input,
label,
selectbox {vertical-align:middle;}
img{display:block;}
address{font-style:normal;}
strong, h1{color:#231f20; font-weight:bold;}
table{width:100%;}

/*  ========================================  */
/*  custom  */

html, body{width:100%; height:100%;}
/* .wrap{width:100%; max-width:768px; background:#000 url(../images/bg_mobile.jpg) no-repeat left top; padding-top:500px;} */
.wrap > img {width:100%;}

.text_crop{width:100%;}
.text_area{width:100%;}
.text_area img{display:inline-block;}
.text_area>div{text-align:center;}

.text_area  .logo_desc{font-size:15px; width:484px; height:44px; line-height:44px; background:url(../images/bg_logo_desc.png) no-repeat;
	margin:27px auto 0;
}
.text_area .message_1{font-size:43px; font-family: 'RixSGo B', sans-serif; margin:90px 0 30px;}
.text_area .date{font-size:52px; font-family: 'RixSGo B', sans-serif; margin-bottom:90px;}

	.brand_top{width:100%; margin:0 auto;}
	.brand_bottom{width:67%; margin:50px auto 0; position:relative;}
	
	.brand_top>div{float:left; width:33.3%; font-size:10px;}
	.brand_bottom>div{float:left; width:50%; font-size:10px;}
	
	.brand:after{content:""; display:block; clear:both;}
	
	.brand>div .logo{height:50px; margin-bottom:10px;}
	.brand>div .country{font-size:10px; margin-bottom:5px;}
	.brand>div .korean{font-size:12px;}
	.brand>div .korean:after{content:""; display:block; width:15px; height:1px; background:#fff;
		margin:15px auto;}
	.brand>div .desc{color:#777; line-height:1.4; font-size:13px;}

	.message_2{font-size:22px; margin-top:150px; padding-bottom:150px; }
	.message_2:before{content:""; display:block; width:70%; height:1px; background:#2d2d2d; margin: 0 auto 50px;;}

.hide {position:absolute; top:-9999em;}

