#contents.about .container .location {top:-9999em;}
#contents .container > section {margin-top:0; width:100%; min-width:980px;}
#contents .container{padding-bottom:0;}

.intro {height:845px; background:#1a1a1a url(./images/about/bg_about_01.jpg) no-repeat center bottom; text-align:center;}
.intro h1 {padding-top:355px; background:url(./images/about/about_logo.png) no-repeat center 154px; font-family:'RixSGo B', sans-serif; font-size:19px; font-weight:normal; color:#fff;}
.intro h1 span {display:block; margin-bottom:35px; font-size:48px;  }
.intro p {margin-top:10px; font-size:18px; line-height:1.6; font-family:'RixSGo M', sans-serif; color:#9f9f9f;}

.info {height:564px; background:#222020 url(./images/about/bg_info.jpg) no-repeat center bottom; text-align:center;}
.info h1 {position:relative; padding-top:95px; height:100px; font-size:60px; color:#fff; font-weight:normal;}
.info h1:after {content:""; display:block; position:absolute; bottom:0; left:50%; margin-left:-31px; width:63px; height:3px; background:#fff;}
.info p {margin-top:40px; font-size:18px; line-height:1.6; font-family:'RixSGo M', sans-serif; color:#fff;}

.mission h1 {margin-top:137px; font-family:'RixSGo B', sans-serif; font-size:30px; font-weight:normal; height:12px; border-bottom:1px solid #d3d0cf; text-align:center;}
.mission h1 span {display:inline-block; padding:0 30px; background:#fff;}
.mission ul {margin-top:48px; padding-top:35px; background:#f4f4f4; padding-bottom:100px;}
.mission ul li {margin:0 auto; width:980px; padding-top:48px; height:140px; border-bottom:1px solid #e9e9e9;}
.mission ul li h2 {float:left; width:320px; font-size:48px; font-weight:normal; text-align:right; color:#231f20;}
.mission ul li h2 span {display:block; margin-top:5px; font-family:'RixSGo B', sans-serif;}
.mission ul li p {position:relative; float:left; margin-left:57px; padding-top:45px; font-size:18px; line-height:1.6; font-family:'RixSGo M', sans-serif; color:#231f20;}
.mission ul li p:after {content:""; display:block; position:absolute; top:0; left:0; width:32px; height:1px; background:#231f20;}
